In [5]:
import pandas as pd
df = pd.read_csv('Downloads/netflix_uncleaned_large.csv')

In [7]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,NaN,Movie/Show 1,NaN,Actor 3,United Kingdom,"September 9, 2019",2007,R,120 min,Horror Movies,Description 1
1,s2,Movie,Movie/Show 2,Director 4,Actor 6,Canada,"December 31, 2020",2002,R,95 min,Action & Adventure,Description 2
2,s3,Movie,Movie/Show 3,NaN,Actor 6,United Kingdom,NaN,2008,NaN,2 Seasons,Comedies,Description 3
3,s4,NaN,Movie/Show 4,NaN,Actor 5,Canada,"December 31, 2020",2011,R,90 min,Documentaries,Description 4
4,s5,TV Show,Movie/Show 5,NaN,NaN,United Kingdom,NaN,2007,R,100 min,Dramas,Description 5

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1010 non-null   object
 1   type          672 non-null    object
 2   title         1010 non-null   object
 3   director      805 non-null    object
 4   cast          796 non-null    object
 5   country       825 non-null    object
 6   date_added    790 non-null    object
 7   release_year  1010 non-null   int64
 8   rating        780 non-null    object
 9   duration      1010 non-null   object
 10  listed_in     1010 non-null   object
 11  description   1010 non-null   object
dtypes: int64(1), object(11)
memory usage: 94.8+ KB

In [11]:
print(df.isnull().sum())

show_id           0
type            338
title             0
director        205
cast            214
country         185
date_added      220
release_year      0
rating          230
duration          0
listed_in         0
description       0
dtype: int64

In [13]:
missing_percentage = (df.isnull().sum() / len(df)) * 100
print(missing_percentage)

show_id          0.000000
type            33.465347
title            0.000000
director        20.297030
cast            21.188119
country         18.316832
date_added      21.782178
release_year     0.000000
rating          22.772277
duration         0.000000
listed_in        0.000000
description      0.000000
dtype: float64

In [15]:
df[df.isnull().any(axis=1)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,NaN,Movie/Show 1,NaN,Actor 3,United Kingdom,"September 9, 2019",2007,R,120 min,Horror Movies,Description 1
2,s3,Movie,Movie/Show 3,NaN,Actor 6,United Kingdom,NaN,2008,NaN,2 Seasons,Comedies,Description 3
3,s4,NaN,Movie/Show 4,NaN,Actor 5,Canada,"December 31, 2020",2011,R,90 min,Documentaries,Description 4
4,s5,TV Show,Movie/Show 5,NaN,NaN,United Kingdom,NaN,2007,R,100 min,Dramas,Description 5
5,s6,Movie,Movie/Show 6,Director 2,Actor 5,NaN,"December 31, 2020",2001,TV-14,90 min,Dramas,Description 6
...,...,...,...,...,...,...,...,...,...,...,...,...
1004,s5,TV Show,Movie/Show 5,NaN,NaN,United Kingdom,NaN,2007,R,100 min,Dramas,Description 5
1005,s6,Movie,Movie/Show 6,Director 2,Actor 5,NaN,"December 31, 2020",2001,TV-14,90 min,Dramas,Description 6
1006,s7,Movie,Movie/Show 7,NaN,"Actor 1, Actor 2",India,NaN,2021,TV-14,95 min,Action & Adventure,Description 7
1008,s9,NaN,Movie/Show 9,Director 4,"Actor 1, Actor 2",Canada,"December 31, 2020",2016,NaN,95 min,Documentaries,Description 9
1009,s10,Movie,Movie/Show 10,Director 4,Actor 6,NaN,"July 15, 2020",2011,PG-13,120 min,Comedies,Description 10

In [21]:
print(df['country'].fillna('Unknown', inplace=True))
print(df['rating'].fillna('Not Rated', inplace=True))
print(df.dropna(subset=['title', 'type'], inplace=True))

None
None
None

In [25]:
print(df.drop_duplicates(inplace=True))

None

In [41]:



import pandas as pd


df = pd.read_csv("Downloads/netflix_uncleaned_large.csv")

print(df.head())


print(df.info())

print(df.isnull().sum())
      
df['country'] = df['country'].fillna('unknown')
df['rating'] = df['rating'].fillna('Not Rated')
df.dropna(subset=['type', 'title'], inplace=True)

df.drop_duplicates(inplace=True)

df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')


df['country'] = df['country'].str.lower()


df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")


df.to_csv("Downloads/netflix_cleaned.csv", index=False)

print(" Cleaned saved as netflix_cleaned.csv")

  show_id     type         title    director     cast         country  \
0      s1      NaN  Movie/Show 1         NaN  Actor 3  United Kingdom
1      s2    Movie  Movie/Show 2  Director 4  Actor 6          Canada
2      s3    Movie  Movie/Show 3         NaN  Actor 6  United Kingdom
3      s4      NaN  Movie/Show 4         NaN  Actor 5          Canada
4      s5  TV Show  Movie/Show 5         NaN      NaN  United Kingdom

          date_added  release_year rating   duration           listed_in  \
0  September 9, 2019          2007      R    120 min       Horror Movies
1  December 31, 2020          2002      R     95 min  Action & Adventure
2                NaN          2008    NaN  2 Seasons            Comedies
3  December 31, 2020          2011      R     90 min       Documentaries
4                NaN          2007      R    100 min              Dramas

     description
0  Description 1
1  Description 2
2  Description 3
3  Description 4
4  Description 5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1010 non-null   object
 1   type          672 non-null    object
 2   title         1010 non-null   object
 3   director      805 non-null    object
 4   cast          796 non-null    object
 5   country       825 non-null    object
 6   date_added    790 non-null    object
 7   release_year  1010 non-null   int64
 8   rating        780 non-null    object
 9   duration      1010 non-null   object
 10  listed_in     1010 non-null   object
 11  description   1010 non-null   object
dtypes: int64(1), object(11)
memory usage: 94.8+ KB
None
show_id           0
type            338
title             0
director        205
cast            214
country         185
date_added      220
release_year      0
rating          230
duration          0
listed_in         0
description       0
dtype: int64
 Cleaned saved as netflix_cleaned.csv